* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(75, 73, 73);
}
header {
  padding: 1rem;
  background-color: rgb(241, 216, 183);
}
header h1 {
  text-align: center;
  color: rgb(75, 73, 73);
  font-family: "Courier New", Courier, monospace;
}
.scoreboard {
  color: white;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
  text-align: center;
}

.user {
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  margin-top: 2rem;
  margin-left: 35rem;
}

.computer {
  border: 0.1rem solid white;
  border-radius: 0.6rem;
  padding: 5px;
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  margin-top: 2rem;
  margin-left: 50rem;
}

.span {
  /* margin-top: 100px;
  margin-left: 500px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
span {
  font-size: 50px;
  color: white;
  margin: 35px;
}

.result {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  /* margin-top: 3rem; */
  text-align: center;
  padding: 2rem;
}

.choices {
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.choice img {
  width: 5.5rem;
  height: 5.5rem;
}

.choice {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 5px double white;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.choice:hover {
  cursor: pointer;
  background-color: rgb(58, 56, 56);
}

#start {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .computer {
    border: 0.1rem solid white;
    border-radius: 0.6rem;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    margin-top: 2rem;
    margin-left: 12rem;
  }
}

@media screen and (max-width: 400px) {
  .user {
    border: 0.1rem solid white;
    border-radius: 0.6rem;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    margin-top: 2rem;
    margin-left: 3rem;
  }
}
